.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.textCenter {
  text-align: center;
}

.title,
.fadeIn {
  margin: 10px;
  cursor: default;
}

.fadeIn {
  animation: fadeIn 2s ease infinite;
}

.title {
  font-size: 8em;
  transition: font-size 200ms ease-in-out;
  border-bottom: 1px dashed white;
}

#digit1 {
  animation-delay: 200ms;
}

#digit2 {
  animation-delay: 300ms;
}

#digit3 {
  animation-delay: 400ms;
}

.btn {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;
}

.btn:hover {
  background-color: white;
  color: #555;
  cursor: pointer;
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }

  25% {
    background-color: royalblue;
  }

  50% {
    background-color: seagreen;
  }

  75% {
    background-color: tomato;
  }

  100% {
    background-color: #152a68;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
