.catalog {
  padding-bottom: 124px;

  @media (max-width: 560px) {
    padding-bottom: 45px;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 55px;
    color: #2d2d2d;

    &.dark_mode {
      color: #f2f2f2;
    }

    @media (max-width: 820px) {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }

  &__top {
    margin-bottom: 24px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px 16px;

    &.dark_mode {
      background-color: #2d2d2d;

      @media (max-width: 820px) {
        background-color: transparent;
      }
    }

    @media (max-width: 820px) {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-bottom: 32px;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__reset {
      margin: 0;
      padding: 9px 16px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #e0595d;
      border-radius: 40px;
      color: #4e4c4c;

      @media (max-width: 820px) {
        display: none;
      }

      &.dark_mode {
        color: #f2f2f2;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &__mobile_btn {
      display: none;
      position: relative;
      height: 40px;
      padding-right: 32px;
      padding-left: 50px;
      font-size: 14px;
      border: none;
      background-color: #1c629e;
      border-radius: 4px;

      @media (max-width: 820px) {
        display: block;
      }

      @media (max-width: 560px) {
        padding-right: 20px;
        padding-left: 34px;
      }

      &__svg {
        position: absolute;
        top: 10px;
        left: 25px;

        @media (max-width: 560px) {
          left: 11px;
        }
      }

      &__text {
        font-size: 14px;
        color: #fafbfc;
      }
    }

    .manufacturers {
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 12px;

      &__title {
        margin: 0;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 14px;
        color: #7b7b7b;

        &.dark_mode {
          color: #f2f2f2;
        }
      }

      &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__item {
          position: relative;
          border: 1px solid #d5d5d5;
          border-radius: 40px;
          padding: 11px 44px 11px 16px;
          display: flex;
          align-items: center;
          margin-bottom: 13px;
          transition: background-color 0.2s ease-in-out,
            border-color 0.2s ease-in-out;

          &:hover {
            background-color: #e9f1fd;
            border-color: #b1cefa;
            transition: background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
          }

          &:not(:last-child) {
            margin-right: 12px;
          }

          &__text {
            margin-right: 8px;
            font-weight: 500;
            font-size: 14px;
            cursor: default;
            color: #7b7b7b;
          }

          &__btn {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 3.8px;
            right: 4px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            background-color: #ffffff;

            span {
              svg {
                fill: #1c629e;
                transition: fill 0.2s ease-in-out;
              }
            }

            &:hover span svg {
              fill: #e0595d;
              transition: fill 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    &__inner {
      display: grid;
      grid-template-columns: 347px 1fr;
      grid-column-gap: 16px;

      @media (max-width: 1330px) {
        grid-template-columns: 320px 1fr;
      }

      @media (max-width: 820px) {
        display: block;
      }
    }

    &__filters {
      align-self: flex-start;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 24px 16px;

      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0;
        grid-column: auto;
        width: 320px;
        left: -100vw;
        position: absolute;
        top: -13px;
        transition: left 0.3s ease-in-out;
        background-color: #ffffff;
        bottom: 0;
        z-index: 12;

        &.open {
          left: 0;
          transition: left 0.3s ease-in-out;
        }
      }

      &.dark_mode {
        background-color: #2d2d2d;
      }

      &__top {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid #e1e1e1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      &__title {
        margin: 0;
        padding-bottom: 12px;
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 24px;
        color: #2d2d2d;
        border-bottom: 1px solid #e1e1e1;

        @media (max-width: 820px) {
          background-color: transparent;
          margin: 0;
          padding: 0;
          padding-left: 30px;
          border: none;
          background-image: url('/img/arrow-back.svg');
          background-repeat: no-repeat;
          background-position: left center;
          background-position-y: 0;
          text-align: start;
        }

        &.dark_mode {
          color: #f2f2f2;
        }
      }

      &__reset {
        font-weight: 500;
        font-size: 14px;
        color: #fafbfc;
        background-color: #e0595d;
        border-radius: 40px;
        border: none;
        padding: 6px 8px;

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    .filters {
      &__manufacturer {
        &__inner {
          border-bottom: 1px solid #e1e1e1;
          margin-bottom: 16px;

          @media (max-width: 820px) {
            border-bottom: none;
          }
        }

        &__btn {
          margin: 0;
          position: relative;
          margin-bottom: 12px;
          width: 100%;
          text-align: start;
          padding: 0;
          background-color: transparent;
          border: none;
          font-weight: 500;
          font-family: 'Roboto';
          cursor: pointer;
          font-size: 18px;
          color: #2d2d2d;

          @media (max-width: 820px) {
            padding-bottom: 12px;
            border-bottom: 1px solid #e1e1e1;
          }

          &.dark_mode {
            color: #f2f2f2;
          }

          &::before {
            content: '';
            position: absolute;
            top: 4px;
            right: 0;
            width: 6px;
            height: 6px;
            border-right: 1.5px solid #1c629e;
            border-bottom: 1.5px solid #1c629e;
            transform: rotate(45deg);

            @media (max-width: 820px) {
              transform: rotate(-45deg);
              right: 6px;
            }
          }

          &.open::before {
            transform: rotate(-135deg);
            top: 8px;
          }

          &.hide_arrow::before {
            content: none;
          }

          &.hide_arrow {
            border-bottom: none;
          }
        }

        &__select_all {
          margin: 0;
          cursor: pointer;
          margin-bottom: 12px;
          padding: 0;
          background-color: transparent;
          border: none;
          font-size: 14px;
          color: #1c629e;
        }

        &__list {
          list-style-type: none;
          margin: 0;
          padding: 0;
          height: 302px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background-color: #e1e1e1;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #9e9e9e;
            background: #9e9e9e;
            border-radius: 5px;
          }

          &__item {
            cursor: pointer;
            padding: 6.5px 0;
            transition: opacity 0.2s ease-in-out;

            &:hover {
              opacity: 0.7;
              transition: opacity 0.2s ease-in-out;
            }

            input {
              padding: 0;
              height: initial;
              width: initial;
              margin-bottom: 0;
              display: none;
              cursor: pointer;
            }

            label {
              position: relative;
              display: block;
              cursor: pointer;
              user-select: none;
              width: 100%;
              color: #4e4c4c;
            }

            &.dark_mode label {
              color: #f2f2f2;
            }

            span:before {
              content: '';
              -webkit-appearance: none;
              background-color: transparent;
              border: 2px solid #f0f0f0;
              border-radius: 4px;
              width: 18px;
              height: 18px;
              display: inline-block;
              position: relative;
              vertical-align: middle;
              cursor: pointer;
              margin-right: 13px;
            }

            input:checked + span::before {
              background-color: #1c629e;
              border-color: #1c629e;
            }

            input:checked + span:after {
              content: '';
              display: block;
              position: absolute;
              top: 4px;
              left: 9px;
              width: 4px;
              height: 9px;
              border: solid #fff;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }
      }

      &__price {
        &__inputs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          input {
            pointer-events: none;
            width: 135px;
            height: 40px;
            padding-left: 12px;
            background-color: transparent;
            border: 1px solid #d5d5d5;
            border-radius: 4px;
            font-weight: 400;
            font-size: 14px;
            color: #9e9e9e;

            @media (max-width: 820px) {
              width: 120px;
            }
          }

          &.dark_mode input {
            color: #f2f2f2;
          }

          &__border {
            width: 13px;
            height: 1px;
            background-color: #4e4c4c;
          }

          &.dark_mode .filters__price__inputs__border {
            background-color: #f2f2f2;
          }
        }
      }

      &__actions {
        padding-top: 36px;
        display: flex;
        flex-direction: column;

        @media (max-width: 820px) {
          padding-top: 24px;
          border-top: 1px solid #e1e1e1;
        }

        button {
          padding: 8px;
          border: none;
          cursor: pointer;
          font-size: 18px;
        }

        &__show {
          position: relative;
          margin: 0;
          height: 40px;
          background-color: #1c629e;
          border-radius: 4px;
          margin-bottom: 24px;
          color: #fafbfc;

          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        &__reset {
          color: #1c629e;
          background-color: #ebf5fd;
          border: 1px solid #1c629e;
          border-radius: 4px;

          &:disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      &__popup {
        padding: 24px 16px;
        border-radius: 0;
        grid-column: auto;
        width: 320px;
        left: -100vw;
        position: absolute;
        top: 0;
        transition: left 0.3s ease-in-out;
        background-color: #ffffff;
        bottom: 0;
        z-index: 12;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.open {
          left: 0;
          transition: left 0.3s ease-in-out;
        }

        &.dark_mode {
          background-color: #2d2d2d;
        }
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      align-self: center;

      @media (max-width: 450px) {
        width: 100%;
        overflow-x: auto;
      }

      &__item {
        &:not(:last-child) {
          margin-right: 8px;
        }

        &:nth-last-child(2) {
          border-right: none;
        }

        &__link {
          display: block;
          background-color: #def0ff;
          box-shadow: 0px 0px 30px rgba(28, 98, 158, 0.3);
          border-radius: 4px;
          width: 36px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #5e5e5e;
        }
      }

      &__break {
        cursor: pointer;
        margin: 0 8px;
        padding: 0 8px;
        height: 8px;
        border-right: 1px solid #66b1f1;
        border-left: 1px solid #66b1f1;

        &__link {
          display: block;
          height: 8px;
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2d2d2d;

          &.dark_mode {
            color: #f2f2f2;
          }
        }
      }

      &__prev,
      &__next {
        display: none;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    grid-column-gap: 16px;
    grid-row-gap: 24px;

    @media (max-width: 1330px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1110px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 820px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 16px;
    }

    @media (max-width: 560px) {
      margin-bottom: 35px;
    }

    &__item {
      position: relative;
      align-self: flex-start;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      overflow: hidden;
      padding: 24px 16px;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      @media (max-width: 560px) {
        padding: 16px 8px;
        height: 277px;
      }

      &:hover {
        transform: scale(1.03);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: -1px 4px 30px rgba(0, 0, 0, 0.16);

        @media (max-width: 820px) {
          transform: scale(1);
        }
      }

      img {
        width: 100%;
        height: 184px;
        margin-bottom: 24px;

        @media (max-width: 560px) {
          height: 99px;
          margin-bottom: 16px;
        }
      }

      &__title {
        cursor: pointer;
        margin: 0;
        font-weight: 400;
        margin-bottom: 24px;
        font-size: 18px;
        color: #4e4c4c;

        @media (max-width: 560px) {
          font-size: 15px;
          margin-bottom: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      &__code {
        display: block;
        margin-bottom: 24px;
        font-size: 14px;
        color: #7b7b7b;

        @media (max-width: 560px) {
          font-size: 13px;
          margin-bottom: 16px;
        }
      }

      &__price {
        font-weight: 500;
        font-size: 20px;
        color: #2d2d2d;

        @media (max-width: 560px) {
          position: absolute;
          bottom: 16px;
          left: 8px;
          font-size: 17px;
        }
      }

      &__cart {
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
        position: absolute;
        border: none;
        bottom: 24px;
        right: 16px;
        width: 40px;
        height: 40px;
        background-color: #ffcf62;
        border-radius: 4px;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

        @media (max-width: 820px) {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: 560px) {
          right: 8px;
          bottom: 16px;
        }

        &.added {
          background-color: #04b19e;
          opacity: 1;
          visibility: visible;
        }

        &:disabled {
          pointer-events: none;
        }
      }

      &:hover &__cart {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      }

      &.dark_mode &__title {
        color: #f2f2f2;
      }

      &.dark_mode &__code {
        color: #7b7b7b;
      }

      &.dark_mode &__price {
        color: #f2f2f2;
      }

      &.dark_mode {
        background-color: #2d2d2d;
      }
    }
  }
}
